<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>To Do List</title>
</head>
<body>
    <div class="box" id="heading">
        <h1 style="color:white;"><%=listTitle %> <br> Date-<%=typeOfDay%></h1>
    </div>
    <div class="box">
            <% item.forEach(function(item){ %>
                <form action="/delete" method="POST">
                    <div class ="item">
                        <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                        <p> <%=item.name%></p>
                    </div>
                    <input type="hidden" value="<%=listTitle%>" name="listName">
                </form>
            <% }); %> 
            <form class="item" action="/" method="POST">
                <input type="text" placeholder="New Item" name="t1" autocomplete="off">
                <button type="submit" value="<%= listTitle %>" name="list">+</button>
            </form>
    </div>
    <center><div class="help">
  
        <div class="question">?</div>
      
        <div class="popup">
          <h3>How can you use more number of To Do Lists ?</h3>
          <p>Firstly, Go to the <strong>URL</strong> of the page and write /. <strong>software</strong>.</p>
          <p>then, after / Add the name of the another <strong>To Do List.</strong></p>
          <p>then, press <strong>Enter or click on search</strong>, A one more new <strong>To Do list</strong> will create.</p><br><br>
          <div class="tell-me">
            <p>Example : </p>
            <div class="popup2">
              <h4>Sub-levels</h4>
              <p class="sub-levels"><strong>a</strong> = you consistently reach this level</p>
              <p class="sub-levels"><strong>b</strong> = you reach this level most of the time</p>
              <p class="sub-levels"><strong>c</strong> = you sometimes reach this level</p>
              <p><a href="#" target="_blank">Click here</a> for more detailed Computing &amp; IT level descriptions.</p>
              <p><em>Level descriptions for individual units will be available soon.</em></p>
            </div>
          </div>
        </div>
      
      </div>
        <br>
    Copyright 2021 SHUBHAM SANGAWAT.</center>
    
</body>
</html>