<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>To Do List</title>
</head>
<body>
    <div class="box" id="heading">
        <h1 style="color:white;"><%=listTitle %> <br> Date-<%=typeOfDay%></h1>
    </div>
    <div class="box">
            <% item.forEach(function(item){ %>
                <form action="/delete" method="POST">
                    <div class ="item">
                        <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                        <p> <%=item.name%></p>
                    </div>
                    <input type="hidden" value="<%=listTitle%>" name="listName">
                </form>
            <% }); %> 
            <form class="item" action="/" method="POST">
                <input type="text" placeholder="New Item" name="t1" autocomplete="off">
                <button type="submit" value="<%= listTitle %>" name="list">+</button>
            </form>
    </div>
    <center><div class="help">
  
        <div class="question">?</div>
      
        <div class="popup">
          <h3>How can you use more number of To Do Lists ?</h3>
          <p><strong>Step-1</strong><br>Firstly, Go to the <strong>URL</strong> of the page and write <strong>/</strong> .</p>
          <p><strong>Step-2</strong><br>then, after <strong>/</strong> Add the name of the another <strong>To Do List.</strong></p>
          <p><strong>Step-3</strong><br>then, press <strong>Enter or click on search</strong>, A one more new <strong>To Do list</strong> will create.</p><br><br>
          <div class="tell-me">
            <p>Pictorial Example : </p>
            <div class="popup2">
              <h4>Pictorial-Example</h4>
              <p class="sub-levels"><strong>Step-1</strong><br><img src="steps/step-1.jpeg" /></p>
              <p class="sub-levels"><strong>Step-2</strong><br><img src="steps/step-2.jpeg" /></p>
              <p class="sub-levels"><strong>Step-3</strong><br><img src="steps/step-3.jpeg" /></p>
              <p class="sub-levels"><strong>Step-4</strong><br>Press Enter or click on search.</p>
            </div>
          </div>
        </div>
      
      </div>
        <br>
    Copyright 2021 SHUBHAM SANGAWAT.</center>
    
</body>
</html>